@font-face {
  font-family: Champions;
  src: url(../../assets/font/Champions-Bold.ttf);
  font-weight: 400;
}

$fontFamily: "Champions", sans-serif;
$colorText: #fff;
$colorPrimary: #0b3d2e; // verde escuro
$colorSecondary: #061a14; // quase preto
$colorTerciario: #1d4ed8; // azul
$colorAzulClaro: #22c55e; // verde
$colorPreto: #0b0b0b;
